body{
    padding: 0;
    margin: 0;
    font-family:'Open Sans', sans-serif;
    scroll-behavior: smooth;
   
}

html{
    scroll-behavior: smooth;
}

body a:hover{
    color: rgba(231,89,125,255);
    transition: 400ms;
}

hr{
    width: 100%;
}

li{
    list-style: none;
}

h3{
    font-size: 1.5rem;
}

body button:hover{
    background-color: rgba(231,89,125,255);
    transition: 400ms;
    
}


 

.ambiente h4{
    padding: 5px;
   }


/*a{
    text-decoration: none;
    color: white;
}*/

/*Navegacion*/

nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: -10px;
    left: -10px;
    margin: 10px;
    width: 100%;
    position: fixed;
    
}
nav img{
    width: 44px;
    margin-left: 20px;
}

nav .login_movile{
    font-size: 35px;
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.login_movile:hover{
    color: rgba(231,89,125,255);
    transition: 500ms;
}

.info{
    display: none;
}

.login .login_desktop{
    display: none;
}

/*Jumbotron*/

.banner .banner-oferta{  
    text-align: center;    
    width: 100%;
    padding-top: 55PX;    
    font-size: 20px;    
    background-color: white;  
}

.banner-promocion{  
    color: white;
    background-image: url(./Assets/banner1.jpeg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;     
    
}

.banner-promocion h1{
    font-size: 300%;
}

.banner-container{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.banner-container h1{
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px;
}

.banner-container input{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 5px;
    font-size: 15px;
    outline: none;
    padding: 5px;   
}
.banner-container button{
    border-radius: 7px;
    font-size: 15px;
    height: 100%;   
    background-color: rgb(3, 3, 3);
    margin-bottom: -15px;
    color: white;
    cursor: pointer;
    border: none;
   
}

.banner-container-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*CATALOGO*/

.catalogo{       
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;   
}

.catalogo-cards{
    box-sizing: content-box;      
    display: grid;    
    gap: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    height: 100%;
}

.catalogo-cards button{
    background-color: black;
    color: white;
    border: solid 2px;
    height: 30px;    
    cursor: pointer;
    border: none;
}


.running{
    display: flex;
    flex-direction: column;
    text-align: center;      
    border-radius: 10px;   
    margin: 20px;
    width: 90%;
    box-shadow: 10px 10px 5px rgb(83, 77, 77, 0.5);
    background-color: rgb(245, 243, 243);
     
    
}

.running p{
    box-sizing: content-box; 
}

.running a{
    text-decoration: none;
    color: black;
}

.running img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.training{
    display: flex;
    flex-direction: column;
    text-align: center;    
    margin: 20px;
    width: 90%;
    box-shadow: 10px 10px 5px rgb(83, 77, 77, 0.5);
    background-color: rgb(245, 243, 243);
    border-radius: 10px;
}

.training a{
    text-decoration: none;
    color: black;
}

.training img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.outdoor{
    display: flex;
    flex-direction: column;
    text-align: center;    
    margin: 20px;
    width: 90%;
    box-shadow: 10px 10px 5px rgb(83, 77, 77, 0.5);    
    background-color: rgb(245, 243, 243);
    border-radius: 10px;   
}

.outdoor a{
    text-decoration: none;
    color: black;
}

.outdoor img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}




/*PREFERENCIAS*/

.ambiente{
    background-image: url(./Assets/ambiente2.jfif);
    background-size: cover;
    background-position: center;
    color: black;
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 50px 0px;
    
}

.ambiente button{
    background-color: black;
    color: white;
    border: solid 2px;
    height: 30px;    
    cursor: pointer;  
    
}

/*FOOTER*/

.container-footer{    
    display: grid;
    grid-auto-rows: 22rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr)); 
    box-sizing: border-box;
    justify-items: center;       
    padding: 10px;
}

.container-footer ul{   
    list-style: none;
    padding: 0;   
}
 
.container-footer li{
    height: 2rem;
    line-height: 2rem;
    padding: 0;      
}

.container-footer a{
    text-decoration: none;
    color: black
}

.container-footer a:hover{
    color: rgba(231,89,125,255);
    transition: 400ms;
}

/*Modal*/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .3s;
    
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .8s;
   
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__close{
    background: rgba(231,89,125,255);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;   
    justify-content: center;
    height: 40px;
    text-decoration: none;
    margin-top: 60px;
}

.modal__close:hover{
    color: #fff;
    background-color:rgba(43,191,230,255);
    transition: 0.5s;
}

/*Login*/
.login-box {
    width: 320px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;    
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgba(231,89,125,255);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: rgba(43,191,230,255);
    color: #fff;
    transition: 0.5s;
  }
  
  .login-box form a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box form a:hover {
    color: #fff;
  }





@media screen and (min-width: 600px) {
    .login .login_movile{
        display: none;
    }

    .info{
        display: flex;       
    }

    .info a{        
        text-decoration: none;
        color: white;
        margin: 10px;

    }
    
    .login .login_desktop{
        display: flex;
        text-decoration: none;
        color: white;
        margin-right: 5vh;
    }
    .login_desktop:hover{
        color: rgba(231,89,125,255);
        transition: 500ms;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    nav a:hover{
        color: rgba(231,89,125,255);
        transition: 500ms;
    }

    /*Jumbotron*/

    .banner-promocion{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
        
    }

    .banner-container{
        padding-bottom: 60px;
    }

    .banner-container h1{
        padding-bottom: 100px;
        font-size: 300%;
    }

    .banner-container-btn{
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
    
    .banner-container-btn input{
        width: 300px;
    }
   
}
    




